*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  font-size: 1.6rem;
}
a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
}

h1 {
    font-size: 6.1rem;
    font-weight: 900;
}

h2 {
    font-size: 4.8rem;
    font-weight: 800;
}

h3 {
    font-size: 3.9rem;
    font-weight: 700;
}

h4 {
    font-size: 3.1rem;
    font-weight: 600;
}

h5 {
    font-size: 2.5rem;
    font-weight: 600;
}

h6 {
    font-size: 2rem;
    font-weight: 600;
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 100%;
    grid-template-rows: 4.2rem calc(100% - 4.2rem);
    position: relative;
}

@media (prefers-color-scheme: light) {
    body {
        background: #ffffff;
        color: #0F1C2E;
    }

    ::-webkit-scrollbar {
        background-color: #eee;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #929292;
        border-radius: 1rem;
        -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
        box-shadow: inset 1px 1px 10px #f3faf7;
    }

    ::-webkit-scrollbar-button:vertical:start:decrement,
    ::-webkit-scrollbar-button:vertical:end:increment,
    ::-webkit-scrollbar-button:horizontal:start:decrement,
    ::-webkit-scrollbar-button:horizontal:end:increment {
        background: #929292;
    }
}


@media (prefers-color-scheme: dark) {
    body {
        background: #0F1C2E;
        color: #ffffff;
    }

    ::-webkit-scrollbar {
        background-color: #1F3A5F;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #3D5A80;
        border-radius: 1rem;
        -webkit-box-shadow: inset 1px 1px 10px #3D5A80;
        box-shadow: inset 1px 1px 10px #3D5A80;
    }

    ::-webkit-scrollbar-button:vertical:start:decrement,
    ::-webkit-scrollbar-button:vertical:end:increment,
    ::-webkit-scrollbar-button:horizontal:start:decrement,
    ::-webkit-scrollbar-button:horizontal:end:increment {
        background: #1F3A5F;
    }
}