.idea
backend/node_modules
backend/out
client/node_modules
backend/.env
client/.env
node_modules
db.drawio.png
/backend/smeta-service-account.json
/backend/smetageneration-firebase-adminsdk-fbsvc-4d7b9323c7.json
/backend/smeta-firebase.json
/backend/Копия Нововиленская 57.xlsx
